body{
    height: 100vh;    
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#jogadores{
    display: flex;
    width: 60vh;
    justify-content: space-between;
}

.colorGreen{
    color: green;
}

#jogadores p{
    font-size: 1.5rem;
}

main{
    background-color: black;
    display:flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    gap: .5rem;
}

.quadrado{
    width: 32%;
    height: 32%;
    margin: 0;
    flex-grow: 1;
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.popUp{
    background-color: orange;
    padding: .8rem;
    color: black;
    border-radius: .4rem;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
}

.popUp button{
    padding: .3rem;
    border-radius: .4rem;
    background-color: orangered;
    cursor: pointer;
}

