main{
    margin: 0 auto;
    background-color: black;
    display:flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    padding: -20px;

}

.quadrado{
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: gray;
}

